html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.full-page-background {
    background-image: url('/images/BakeriWMS.jpg'); /* Change this for each page */
    background-size: cover; /* Ensures the image covers the whole area */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repeating */
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    overflow: hidden; /* Prevents scrolling */
    display: flex; /* Optional: for centering content */
    justify-content: center; /* Optional: center horizontally */
    align-items: center; /* Optional: center vertically */
    color: white; /* Optional: text color for contrast */
    text-align: center; /* Optional: center-align text */
}

